<h1>Conveyor Belts (Fabric)</h1>
<p><img src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/belt_side_view.gif" width="522" height="294" /></p>
<p>&nbsp;</p>
<p><img src="https://media.discordapp.net/attachments/903385978482360320/958652829927616562/ezgif-1-b116ff9b7a.gif" alt="Can move living entities" width="520" height="293" /><br />&nbsp;</p>
<h2>About</h2>
<p>This mod adds 3 tiers of belts. Wood, Iron and Gold.</p>
<p><img src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/redstone_inv.png" /></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Tiers</h2>
<p>Wood, Iron and Gold (left to right):</p>
<p><img src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/belt_types.png" alt="Belt tiers" width="400" height="213" /></p>
<p><img src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/belt_slope_up_types.png" alt="Slope up" width="400" height="212" />&nbsp;<br /><img src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/belt_filter_types.png" alt="Filters" width="400" height="213" /></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Redstone</h2>
<p>Belts can be disabled with a redstone input: <br /><iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/txjlByWaO9A?wmode=transparent" height="358" width="638"></iframe></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Filtering</h2>
<p>With no filters set, items will be split evenly between the two outputs: <br /><iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/WlYpflEd5pQ?wmode=transparent" height="358" width="638"></iframe></p>
<p>&nbsp;</p>
<p>With a filter set on one side, that item will go to that output and all other items will go to the other one <br /><iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/p8wqFzgI7Zo?wmode=transparent" height="358" width="638"></iframe></p>
<p>&nbsp;</p>
<p>With both filters set, items will go to the output with the filter on, if the item matches neither filter a sound will be played to indicate it is jammed. <br /><iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/HToJ1V1V7DU?wmode=transparent" height="358" width="638"></iframe></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Placement</h2>
<p>Belts will face away from you when placed. Holding shift will make them face towards you. <br /><iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/oxQ9kWJKpd4?wmode=transparent" height="358" width="638"></iframe></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Furnace array demo</h2>
<p><iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/LfjgVaFkrPo?wmode=transparent" height="358" width="638"></iframe><br /><iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/uSD6FAmq4Ws?wmode=transparent" height="358" width="638"></iframe><br /><iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/kDpWOeegT-U?wmode=transparent" height="358" width="638"></iframe></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Crafting</h2>
<div class="spoiler">
<h3>Belt tiers</h3>
<p>&nbsp;</p>
<p>Wood (any plank or log)</p>
<p>&nbsp;</p>
<p><img src="https://cdn.discordapp.com/attachments/903385978482360320/958339548885164053/unknown.png" alt="Wood crafting" width="300" height="324" /></p>
<p>&nbsp;</p>
<p>Iron</p>
<p><img src="https://cdn.discordapp.com/attachments/903385978482360320/958339626987294770/unknown.png" alt="Iron crafing" width="300" height="324" /></p>
<p>&nbsp;</p>
<p>Gold</p>
<p><img src="https://cdn.discordapp.com/attachments/903385978482360320/958339652950065172/unknown.png" alt="Gold crafitng" width="300" height="324" /></p>
<h3>&nbsp;</h3>
<h3>Belt Variants</h3>
<p>(Same for iron and gold tiers, replacing planks with iron or gold ingots)</p>
<p>&nbsp;</p>
<p><img src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/wood_belt_uses.png" width="300" height="335" /></p>
<p>&nbsp;</p>
<p><img src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/upward_wood_belt_uses.png" alt="" width="300" height="188" /></p>
<p>&nbsp;</p>
<p><img src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/downward_wood_belt_uses.png" width="300" height="188" /></p>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Misc notes</h2>
<p>&nbsp;</p>
<p>When two sides are trying to input at once they merge:</p>
<p><iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/P-Aj1fbJZYc?wmode=transparent" height="358" width="638"></iframe></p>
<p>&nbsp;</p>
<p>The mod preforms well with lots of belts in the world. <br /><img src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/stress_test.png" /></p>
<p>&nbsp;</p>
<p><span style="font-size: 18px;"><span style="color: #3366ff;"><br />Discord:</span> <a title="Discord" href="https://discord.gg/GetHS2R" target="_blank" rel="noopener noreferrer">https://discord.gg/GetHS2R</a></span></p>