<a href="https://discord.gg/3CEMmG9DWZ" target="_blank"><img style="display: inline-block; margin: 0px; padding: 0px; border: none;" width="43.645833333%" src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/banner_top_left.png" alt="CablePost Discord" data-testid="image"/></a><a href="https://discord.gg/3CEMmG9DWZ" target="_blank"><img style="display: inline-block; margin: 0px; padding: 0px; border: none;" width="12.708333333%" src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/banner_top_middle.png" alt="Discord" data-testid="image" /></a><a href="https://discord.gg/kuSguWRRNC" target="_blank"><img style="display: inline-block; margin: 0px; padding: 0px; border: none;" width="43.6%" src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/banner_top_right.png" alt="Idin MC Discord" data-testid="image" /></a>
<img style="display: block; margin: 0px; padding: 0px; border: none;" width="100%" src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/banner_body.png" alt="Discord" data-testid="image" />

<br />
<br />
<br />

<a href="https://www.curseforge.com/minecraft/mc-mods/fabric-api" target="_blank">
    <img width="98%" src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/fabric_banner.png" alt="Discord" data-testid="image" />
</a>

<br />
<br />
<br />

<img width="48%" style="display: inline-block; margin: 0px; padding: 0px; border: 10px solid black; border-radius:40px; margin-bottom: 5px; margin-right: 5px;" src="https://media.discordapp.net/attachments/958690667826126859/981841636021661716/ezgif-3-7e343d3ff5.gif" alt="Belts and Robotic Arms" data-testid="image"/>
<img width="48%" style="display: inline-block; margin: 0px; padding: 0px; border: 10px solid black; border-radius:40px; margin-bottom: 5px;" src="https://media.discordapp.net/attachments/903385978482360320/958652829927616562/ezgif-1-b116ff9b7a.gif" alt="Villager on Belts" data-testid="image"/>

<img width="48%" style="display: inline-block; margin: 0px; padding: 0px; border: 10px solid black; border-radius:40px; margin-right: 5px;" src="https://media.discordapp.net/attachments/958690667826126859/981841635203743764/ezgif-2-71a3fb2987.gif" alt="Item Sorting" data-testid="image"/>
<img width="48%" style="display: inline-block; margin: 0px; padding: 0px; border: 10px solid black; border-radius:40px;" src="https://media.discordapp.net/attachments/744260630046965830/971865457147674734/ezgif-5-8f29e6b376.gif" alt="Furnace array" data-testid="image"/>

<br />
<br />
<br />

<a href="https://www.curseforge.com/minecraft/mc-mods/conveyor-belts-fabric/screenshots" target="_blank">
    <img width="98%" src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/preview_images.png" alt="Discord" data-testid="image" />
</a>

<br />
<br />
<br />

<h2>Crafting</h2>
<div class="spoiler">
    <img width="33%" style="display: inline-block; margin: 0px; padding: 0px; border: 10px solid black; border-radius:40px; margin-bottom: 5px; margin-right: 5px;" src="https://cdn.discordapp.com/attachments/903385978482360320/958339548885164053/unknown.png" alt="Wood belt" data-testid="image"/><img width="32%" style="display: inline-block; margin: 0px; padding: 0px; border: 10px solid black; border-radius:40px; margin-bottom: 5px; margin-right: 5px;" src="https://cdn.discordapp.com/attachments/903385978482360320/958339626987294770/unknown.png" alt="Iron belt" data-testid="image"/><img width="33%" style="display: inline-block; margin: 0px; padding: 0px; border: 10px solid black; border-radius:40px; margin-bottom: 5px; margin-right: 5px;" src="https://cdn.discordapp.com/attachments/903385978482360320/958339652950065172/unknown.png" alt="Gold belt" data-testid="image"/>
    <br />
    <img width="33%" style="display: inline-block; margin: 0px; padding: 0px; border: 10px solid black; border-radius:40px; margin-bottom: 5px; margin-right: 5px;" src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/wood_belt_uses.png" alt="Filter and upward slope" data-testid="image"/>
    <br />
    <img width="33%" style="display: inline-block; margin: 0px; padding: 0px; border: 10px solid black; border-radius:40px; margin-bottom: 5px; margin-right: 5px;" src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/upward_wood_belt_uses.png" alt="Downward slope" data-testid="image"/><img width="33%" style="display: inline-block; margin: 0px; padding: 0px; border: 10px solid black; border-radius:40px; margin-bottom: 5px; margin-right: 5px;" src="https://gitlab.com/billyg270/conveyor-belts/-/raw/master/readme_assets/downward_wood_belt_uses.png" alt="Slope to regular" data-testid="image"/>
    <br />
    <img width="33%" style="display: inline-block; margin: 0px; padding: 0px; border: 10px solid black; border-radius:40px; margin-bottom: 5px; margin-right: 5px;" src="https://media.discordapp.net/attachments/958690667826126859/981842922163044372/unknown.png" alt="Wood Robotic Arm" data-testid="image"/><img width="33%" style="display: inline-block; margin: 0px; padding: 0px; border: 10px solid black; border-radius:40px; margin-bottom: 5px; margin-right: 5px;" src="https://media.discordapp.net/attachments/958690667826126859/981842922389524490/unknown.png" alt="Iron Robotic Arm" data-testid="image"/><img width="33%" style="display: inline-block; margin: 0px; padding: 0px; border: 10px solid black; border-radius:40px; margin-bottom: 5px; margin-right: 5px;" src="https://media.discordapp.net/attachments/958690667826126859/981842922662146098/unknown.png" alt="Gold Robotic Arm" data-testid="image"/>
    <br />
    <img width="33%" style="display: inline-block; margin: 0px; padding: 0px; border: 10px solid black; border-radius:40px; margin-bottom: 5px; margin-right: 5px;" src="https://media.discordapp.net/attachments/958690667826126859/981842923140304917/unknown.png" alt="Iron Filtered Robotic Arm" data-testid="image"/>
</div>

<br />
<br />
<br />

<h2>Videos</h2>

<ul style="text-decoration: none;">
    <li>
        <a href="https://youtu.be/txjlByWaO9A">Redstone: Belts can be disabled with a redstone input</a>
    </li>
    <li>
        <a href="https://youtu.be/WlYpflEd5pQ">Filtering: With no filters set, items will be split evenly between the two outputs</a>
    </li>
    <li>
        <a href="https://youtu.be/p8wqFzgI7Zo">Filtering: With a filter set on one side, that item will go to that output and all other items will go to the other one</a>
    </li>
    <li>
        <a href="https://youtu.be/HToJ1V1V7DU">Filtering: With both filters set, items will go to the output with the filter on, if the item matches neither filter a sound will be played to indicate it is jammed</a>
    </li>
    <li>
        <a href="https://youtu.be/P-Aj1fbJZYc">Merging: Items will 'zipper merge' when going onto a belt, either from hoppers or other belts</a>
    </li>
</ul>